@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.card {
    border: none;
}

.button-background-color {
    background-color: #293462;
    color: white;
}

#create-post-button {
    height: 40px;
}

#create-post-button-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.create-post-heading {
    background-color: #dae1e9;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.up-down-vote-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}

.body-text {
    text-align: justify;
}

.icon-text {
    font-size: 20px;
}

.star-color {
    color: red;
}

.ellipsis {
    color: #a09c9c;
}

hr {
    color: #a09c9c;
    margin-top: 3px;
    margin-bottom: 3px;
}

.muted-color {
    color: #a09c9c;
    font-size: 13px;
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer;
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.comment-text {
    font-size: 12px;
}

.status small {
    margin-right: 10px;
    color: blue;
}

.form-control {
    border-radius: 26px;
}

.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
}