.gradient-black-white {
    background: rgb(222, 222, 233);
    background: linear-gradient( 0deg, rgba(250, 250, 250, 1) 0%, rgba(222, 222, 233, 1) 11%, rgba(0, 0, 0, 1) 24%);
}

.chip {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #f1f1f1;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

body {
    background: url("../img/homePagePicture.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #7e8b93;
}


/* STYLING SCROLLBAR */

::-webkit-scrollbar {
    width: 1vw;
    /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}


/* TO STYLE THE SCROLLBAR TRACK */

::-webkit-scrollbar-track {
    background-color: #ffffff;
    /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}


/* TO STYLE THE SCROLLBAR THUMB */

::-webkit-scrollbar-thumb {
    background-color: #050505;
    border: 0.3vw solid #ffffff;
    border-radius: 5vw;
}

.search-input[type="submit"] {
    display: none !important;
}