footer {
    margin-top: 10%;
}

.gradient-black-white {
    background: rgb(222, 222, 233);
    background: linear-gradient( 0deg, rgba(250, 250, 250, 1) 0%, rgba(222, 222, 233, 1) 11%, rgba(0, 0, 0, 1) 24%);
}